.contact {
    width: 100%;
    padding: 5rem 0;
    overflow: hidden;

    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:730px) {
            justify-content: center;
        }
    }

    &__heading {
        text-align: center;
        #icon {
            left: 35.5%;
        }
    }

    .custom__text {
        margin-bottom: 10rem;
        text-align: center;
         @media (max-width:730px) {  margin-bottom: 5rem;}
    }

    &__box {
        flex-basis: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__svg {
        width: 100%;
        transform: scale(2);
        margin-left: 10rem;

        @media (max-width:730px) { display: none;}
    }

    &__form {
        flex-basis: 50%;
        order: -1;
        background: rgba($white, 0.3);
        padding: 4rem 2rem;
        box-shadow: 0 0 2rem rgba($primary, .5);
        border-radius: 10px;
        @media (max-width:730px) { flex-basis: 70%;}
        @include responsive(phone) { flex-basis: 90%;}
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
            flex-basis: 45%;
        }
    }

    &__input {
        width: 100%;
        margin-bottom: 1rem;
        background: transparent;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 0.2); //var(--secondary)
        border-radius: 0.5rem;
        padding: 1rem 2rem;
    }

    &__submit {
        box-shadow: none;
        color: var(--secondary);

        &:hover {
            color: #aaa;
        }
    }

    &__textarea {
        height: 12rem;
    }

    ::-webkit-input-placeholder {
        color: #aaa;
        font-weight: 700;
    }
}
